.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .sidenav a {
    padding: 20px 8px 20px;
    text-decoration: none;
    font-size: 22px;
    color: #000;
    display: block;
    transition: 0.3s;
  }
  
  /* .sidenav a:hover {
    color: #f1f1f1;
  } */
  
  .sidenav .closebtn {
    padding: 30px;
    position: absolute;
    top: 0;
    /* right: 25px; */
    font-size: 36px;
    /* margin-left: 50px; */
    cursor: pointer;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .sidenav a {
      font-size: 18px;
    }
  }